@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* font-family: "Oswald", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.flex{
    width: 100%;
    max-width: 1200px;
    background-color: #2E323F;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>div{
    margin: 10px;
}
.hero{
    width: 100%;
    max-width: 1200px;
    background-color: #3B4050;
    min-height: 600px;
}
h1{
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 2.625rem;
    padding: 18px;
    
}
.gold{
    color: #A59678;
}

.pass>p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 18px;

}
.pass button{
    margin: 18px;
    border-radius: 28px;
    padding: 18px;
    /* color: white; */
    background-color: #A59678;
}
.pass button a{
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size:1.5rem ;
}
.sectwo{
    background-color: white;
    justify-items: center;
    margin: 30px 20px;
}
.sectwo div{
    margin-top: 10px;
}
.sectwo h2{
    font-family: "Oswald", sans-serif;
    font-size: 1.875rem;
}
.sectwo p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
}
.secthree h2{
    margin: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 2.25rem;
}
.secthree p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.313rem;
}
.secthree-two h2{
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 1.875rem;
    text-align: center;
}
.secthree-two p{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1.125rem;
    text-align: center;
}
.secthree-two div{
    background-color: #3B4050;
    padding: 10px;
}
.display{
    visibility: hidden;
}
footer{
    justify-items: center;
    padding: 20px;
}

footer h2{
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    margin: 15px;
}
footer div p{
    font-family: "Montserrat", sans-serif;
    font-size:1rem ;
    color: white;
}
footer h3{
    font-family: "Oswald", sans-serif;
    font-size: 1.313rem;
}
footer ul{
    list-style-type: none;
    color: white;
    /* justify-items: center; */
}
footer div{
    margin: 20px;
}
footer ul li {
    margin: 15px;
}

@media(min-width:600px){
    .secthree-two{
        display: flex;
    }
    .secthree-two div{
        margin: 10px;
    }
    .two{
        display: flex;
        margin: 30px 20px;
        text-align: center;
    }
}

@media(min-width:1000px){
    .flex-hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-hero h1{
        font-size: 5.625rem;
        line-height: 78px;
    }
    .secthree{
        display: flex;
    }
    .secthree-two {
        display: block;
    }
    .foot{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .width{
        width: 45%;
    }
}